@import '~scss_vars';
.el-button--success.el-button-shadow{
	box-shadow: 0 2px 4px 0 $-color-success;
}
.el-button--danger.el-button-shadow{
	box-shadow: 0 2px 4px 0 $-color-danger;
}
.el-checkbox{
	.el-checkbox__input .el-checkbox__inner:after{
		left: 8px;
		top: 0;
	}
	.el-checkbox__input.is-checked .el-checkbox__inner:after{
		transform: rotate(45deg) scale(1.8);
	}
}
.el-radio{
	.el-radio__input .el-radio__inner:after{
		width: 8px;
		height: 8px;
	}
	.el-radio__input.is-checked .el-radio__inner:after{
		background: #4990e2;
	}
}
.el-select {
	.el-input--suffix {
		.el-input__inner{
			height: 36px;
			background: #F2F0E2;
			border-color: #F2F0E2;
		}
	}
}
.el-input{
	.el-input__inner{
		width: 240px;
	}
}
.el-table {
	.el-table__body{
		tr:nth-child(odd){
			background: #f0f0f0;
		}
	}
}
