$text-base-size:14px;
$text-base-color:#4a4a4a;
$base-background:#f0f0f0;
$color-primary: #8684BC; //主色调
/* Colors
-------------------------- */
$-color-white: #fff !default;
$-color-black: #000 !default;

$-color-primary: #8684BC !default;
$-color-primary-light-1: mix($-color-white, $-color-primary, 10%) !default; /* 53a8ff */
$-color-primary-light-2: mix($-color-white, $-color-primary, 20%) !default; /* 66b1ff */
$-color-primary-light-3: mix($-color-white, $-color-primary, 30%) !default; /* 79bbff */
$-color-primary-light-4: mix($-color-white, $-color-primary, 40%) !default; /* 8cc5ff */
$-color-primary-light-5: mix($-color-white, $-color-primary, 50%) !default; /* a0cfff */
$-color-primary-light-6: mix($-color-white, $-color-primary, 60%) !default; /* b3d8ff */
$-color-primary-light-7: mix($-color-white, $-color-primary, 70%) !default; /* c6e2ff */
$-color-primary-light-8: mix($-color-white, $-color-primary, 80%) !default; /* d9ecff */
$-color-primary-light-9: mix($-color-white, $-color-primary, 90%) !default; /* ecf5ff */

$-color-success: #87BFBC !default;
$-color-warning: #F8D29A !default;
$-color-danger: #D06D69 !default;
$-color-info: #74AFC9 !default;

$-color-success-light: mix($-color-white, $-color-success, 80%) !default;
$-color-warning-light: mix($-color-white, $-color-warning, 80%) !default;
$-color-danger-light: mix($-color-white, $-color-danger, 80%) !default;
$-color-info-light: mix($-color-white, $-color-info, 80%) !default;

$-color-success-lighter: mix($-color-white, $-color-success, 90%) !default;
$-color-warning-lighter: mix($-color-white, $-color-warning, 90%) !default;
$-color-danger-lighter: mix($-color-white, $-color-danger, 90%) !default;
$-color-info-lighter: mix($-color-white, $-color-info, 90%) !default;

$-color-text-primary: #303133 !default;
$-color-text-regular: #4a4a4a !default;
$-color-text-secondary: #909399 !default;
$-color-text-placeholder: #c0c4cc !default;

